 <div id="modal-window">
 </div>
   <div class="choice" id = "rock">
    <a  href = '/rock' data-remote="true">
      <div class="choicebutton"></div>
    </a>
  </div>
  <div class = "choice" id = "paper">
    <a href = '/paper' data-remote="true">
      <div class="choicebutton"></div>
    </a>
  </div>
  <div id = "scissors">
    <a href = '/scissors' data-remote="true">
      <div class="choicebutton"></div>
    </a>
  </div>
