 <div class="choice" id = "rock">
  <a  href = '/rock'>
    <div class="choicebutton"></div>
  </a>
</div>
<div class = "choice" id = "paper">
  <a href = '/paper'>
    <div class="choicebutton"></div>
  </a>
</div>
<div id = "scissors">
  <a href = '/scissors'>
    <div class="choicebutton"></div>
  </a>
</div>