// Place all the styles related to the RPSGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.rps_games.index {
  background-color: rgb(103,104,99);
   background-size: cover;
}

body.rps_games.play {
  background-color: rgb(103,104,99);
}

.row {
  color: black;
}

#rock {
    float: left;
    width: 25%;
    height: 480px;
}

#paper {
    float: left;
    width: 50%;

}

#scissors {
    float: left;
    width: 25%;
}

.choicebutton {
  width: 100%;
}

.choice a {
  width: 100%;
  height: 100%;
}

#dialog {
  text-align: center;
  background-image: none;
  width: 380px;
  height: 380px;
  z-index: 1;
  position: absolute;
  background-color: rgb(103,104,99);
}

#modal-window img {
  width: 350px;
  height: 350px;
}